body{
    margin: 0px;
}
.main{
    background: hsla(89, 60%, 87%, 1);

     background: linear-gradient(90deg, hsla(89, 60%, 87%, 1) 0%, hsla(61, 48%, 79%, 1) 0%, hsla(34, 86%, 58%, 1) 100%, hsla(335, 81%, 65%, 1) 100%);

     background: -moz-linear-gradient(90deg, hsla(89, 60%, 87%, 1) 0%, hsla(61, 48%, 79%, 1) 0%, hsla(34, 86%, 58%, 1) 100%, hsla(335, 81%, 65%, 1) 100%);

     background: -webkit-linear-gradient(90deg, hsla(89, 60%, 87%, 1) 0%, hsla(61, 48%, 79%, 1) 0%, hsla(34, 86%, 58%, 1) 100%, hsla(335, 81%, 65%, 1) 100%);

    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
@media(max-width: 800px){
    .main{
        width: 800px;
        height: 750px;
    }
}
@media(max-width: 725px){
    .main{
        height: 700px;
    }
}
@media(max-width: 700px){
    .main{
        height: 550px;

    }
}
@media(max-width: 350px){
    .main{
        heigth: 450px;
        width: 550px;
    }
}

.img{
    width: 300px;
    height: 200px;
    margin-left: -80px;
}
@media(max-width: 470px){
    .img{
        width: 250px;
        height: 200px;
    }
}
@media(max-width: 440px){
    .img{
        width: 220px;
        height: 150px;
    }
}
@media(max-width: 350px){
    .img{
        margin-right: -11px;
    }
}
.card{
     background-image: url(./2F6BF1CC-B671-4978-A19B-392377F247D4.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 700px;
    height: 400px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 800px) {
    .card{
        width: 500px;
        height: 350px;
        background-size: cover;
        background-position: center;
    }
 }   
.content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
@media(max-width: 800px){
    .content{
        margin-top: -8px;
    }
}


.email{
    width: 200px;
    height: 30px; 
    transition: 1s;  
}
.email:hover{
    cursor: pointer;
    background-color: rgb(244, 208, 160);

}


.syr{
    width: 200px;
    height: 30px;
    transition: 1s;
}
.syr:hover{
    cursor: pointer;
    background-color:  rgb(244, 208, 160);
}



.voiti{
    margin-top: 50px;
    height: 30px;
    transition: 1s
    
}
.voiti:hover{
    border-radius: 30px;
    cursor: pointer;
    /* background-color: rgb(238, 206, 163); */
    background-color: rgb(244, 208, 160);
    border: 2px solid;

}
@media(max-width: 800px){
    .voiti{
        margin-top: 5px;
    }
}
h3{
    margin-top: 1px;
}


.reg{
    margin-top: 10px;
    height: 30px;
    transition: 1s;
}
.reg:hover{
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid;
    background-color: rgb(244, 208, 160);

}
button{
    background-color: blanchedalmond;
}
